body{
    /* background-image: url(/assets/peach\ blossom.jpg);
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    border: 2px solid black;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
ul{
    width: 100%;
}
li{
    
}
#contact{
    visibility: hidden; /* This will hide the element but it will still take up space */
    display: none; /* This will not show the element at all */
}
.long-para{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    overflow: scroll; 
}
#img1{
    opacity: 0.2; /* This will make the image semi-transparent */
    width: 100px; /* Set a width for the image */
}
#img2{
    opacity: 0.5; /* This will make the image semi-transparent */
    width: 100px; /* Set a width for the image */
}