.parent{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    /* its works on x axis */
    justify-content: center;
    /* when you want to align items on y axis */
    align-items: center;

}
p{
    font-size: 20px;
    color: rgb(20, 11, 11);
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: royalblue;
    margin: 10px;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: salmon;
}
#box3{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
}
