*{
    margin: 5px;
    padding: 0;
}
/* div{ */
    /* border: 2px solid black;
    width: 500px;
    height: 400px;
    min-width: 200px;  */
    /* min-height: 200px;
    max-width: 600px;
    max-height: 400px;
} */
 #maindiv{
    display: flex;
    align-items: center;
    justify-content: center;

 }
 a{
    display: block;
   
 }
 .card{
    border: 2px solid black;
 }
 #nav{
    text-align: center;
 }
 li{
    display: inline;
 }
 img{
   width: 100%;
 }
 .img{
   width: 400px;
   border: 1px solid black;
   min-width: 200px;
 }
 .img:hover{
   box-shadow: 5px 5px 10px black;
 }